p {
   font-weight: bold ;
}

.mrkrabs {
  display: flex;
  flex-direction: row;
}

.second-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.second-section p {
    width: 50%;
    border-radius: 20px;
  background: rgb(228, 186, 118);
  padding: 20px;
  height: 110px;
  font-size: 20px;
}

.krabbypatty-words h2 {
  width: 145px;
}

.third-section {
    display: flex;
    flex-direction: row;
}

.third-section p {
    width: 60%;
    border-radius: 30px;
  background: rgb(228, 186, 118);
  padding: 20px;
  height: 140px;
  font-size: 20px;
}

.last-facts {
    display: flex;
    flex-direction: row;
}

.fourth-section h2, .fifth-section h2 {
    text-align: center;
    border-radius: 30px;
  background: rgb(228, 186, 118);
  padding: 10px;
  height: 30px;
  width: 25%
}

.fourth-section p, .fifth-section p {
    text-align: center;
    border-radius: 30px;
  background: rgb(228, 186, 118);
  padding: 20px;
  height: 75px;
  font-size: 20px;
}
body {
    background-image: url("https://i.pinimg.com/originals/1b/00/40/1b0040c64af41da706a51d610e7407b5.jpg");
    background-size:cover;
    color: whitesmoke;
}

.first-section p {
  border-radius: 30px;
  background: rgb(228, 186, 118);
  padding: 20px;
  height: 80px;
  font-size: 20px;
}

h1 {
  border-radius: 20px;
  background: rgb(228, 186, 118);
  padding: 20px;
  height: 40px;
}

h2 {
  border-radius: 25px;
  background: rgb(228, 186, 118);
  padding: 15px;
  height: 25px;
  width: 18%
}

img {
  border-radius: 30px;
}

